p {
  font-size: 15px;
  text-align: center;
}

body {
  background-color: #5e3023;
  color: #cfc4c7;
  font-family: monospace;
 padding: 20px;
}

#foto {
  border-radius: 50%;
  float: left;
padding: 10px ;
background-color: #cfc4c7;
}

a {
  color: #fcf300;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

ul {
  font-size: large;
}

#descricao {
  color: #d3d3e2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  padding: 75px 100px 25px 400px;
}

h2 {
  color: #ebd1ba;
  text-align: center;
  font-size: 35px;
  background-color: #d85b39;
  border-radius: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

.image-contener {
  height: 300px;
  position: relative;
}

ul li:nth-child(odd) {
  background-color: #ebd1ba;
  color: #5e3023;
}